.pagination {
  display: flex;
  justify-content: center;
  margin-top: 32px;
}

.control {
  height: 32px;
  min-width: 32px;
  border-radius: 4px;
  border: 1px solid var(--mantine-color-secondary-3,#0F0F1033);
  background: var(--mantine-color-secondary-1, #F6F6F7);
  color: var(--mantine-color-secondary-9, #0F0F10);
  font-weight: 500;
  font-size: 16px;
  box-shadow: none;
  transition: border-color 0.2s, background 0.2s, color 0.2s;
  cursor: pointer;
}

.control:hover,
.control:focus {
  border: 1px solid var(--mantine-color-primary-7, #4263EB) !important;
  color: var(--mantine-color-primary-7, #4263EB) !important;
  background: #F3F5F9 !important;
}

.control[data-active] {
  background: var(--mantine-color-primary-7, #4263EB) !important;
  color: #fff !important;
  border: 1px solid var(--mantine-color-primary-7, #4263EB) !important;
}

.dots {
  min-width: 32px;
}