.container {
  background: var(--mantine-color-secondary-0, #fff);
  border-radius: 12px;
  padding: 24px;
}

.select {
  width: 269px;
  background: var(--mantine-color-secondary-0, #fff);
}

.input {
  border: 1px solid var(--mantine-color-secondary-3,#0F0F1033);
  height: 40px;
  font-size: 16px;
  color: var(--mantine-color-secondary-9, #0F0F10);
  padding-left: 40px;
  border-radius: 12px;
  background: var(--mantine-color-secondary-0, #fff);
  transition: border-color 0.2s, color 0.2s;
}

.inputActive {
  border: 2px solid var(--mantine-color-primary-7, #4263EB);
}

.inputPlaceholder {
  color:  var(--mantine-color-secondary-4,#0F0F104D);
}

.dropdown {
  border-radius: 12px;
  padding: 8px;
  font-size: 16px;
  box-shadow: 0 4px 24px 0 rgba(0,0,0,0.08);
  background: var(--mantine-color-white-0, #fff);
}

.option {
  padding: 12px 16px;
  font-size: 16px;
  color: var(--mantine-color-black-0, #222);
  border-radius: 8px;
  background: var(--mantine-color-white-0, #fff);
  transition: color 0.2s, background 0.2s;
  cursor: pointer;
}

.option:hover, .option[data-selected] {
  background: var(--mantine-color-primary-0, #E9EDFB);
  color: var(--mantine-color-primary-7, #4263EB);
}